.hero-section {
  background-image: url("https://new-ella-demo.myshopify.com/cdn/shop/files/slideshow-1.jpg?v=1632195167&width=1370");
  background-size: 100% 100%;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: left;
  padding: 20px;
  animation: zoomAndParallax 2s linear infinite;
}
@keyframes zoomAndParallax {
  from {
    background-size: 100% 100%;
    background-position: center;
  }
  to {
    background-size: 110% 110%;
    background-position: center 10%; /* Adjust as needed */
  }
}
@media (max-width: 768px) {
  .hero-section {
    animation: none; /* Stop the animation on small screens */
  }
}

.hero-content {
  border-radius: 5px;
  margin-right: 50%;
  margin-left: 10%;
}

.heroh1 {
  font-size: 2.5rem;
  margin: 0px;
  color: black;
  border-bottom: 4px solid black;
}

p {
  font-size: 1rem;
  margin-top: 10px;
  color: black;
}

.insta {
  cursor: pointer;
  margin-top: 10px;
  background-color: black;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 500;
  max-width: 230px;
  border-radius: 0px !important;
}

.insta:hover {
  background-color: transparent;
  color: black;
  font-weight: 500;
  max-width: 230px !important;
}

@media (max-width: 768px) {
  .hero-section {
    background-size: cover;
  }

  .hero-content {
    text-align: center; /* Center align content on small screens */
    margin-right: 0; /* Reset margin-right to center the content */
    margin-left: 0; /* Reset margin-left to center the content */
  }

  .heroh1 {
    border-bottom: none; /* Remove the border on small screens */
  }
}
