
.card2 {
    min-width: 350px; /* Adjust the value as needed */
    min-height: max-content;
    margin: 10px;
  }


  .card2 {
    position: relative;
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
  }
  
  .image-fluid {
    width: 100%;
    height: auto;
  }
  
  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration:2px solid underline;
    font-family:Georgia, 'Times New Roman', Times, serif
  }
  

  @media (max-width: 768px) {
    
    .card2{
      margin-left: 0px;
      margin-right: 0px;
      min-width: 300px !important;
    }
  }